html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
}

#terminal {
  width: 100%;
  height: 100%;
  color: #fff;
}

.xterm-viewport::-webkit-scrollbar {
  display: none;
}